
@{
    ViewBag.Title = "RegisterVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="title">
    <div class="sign-head">
        <div class="container">
            <div class="row">
                <div class="listing-head">
                    <h1 class="page-title">Vendor Registration Form</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/Content/frontend/assets/css/icheck.min_all.css">
<div class="container">
    <div class="row" id="register_div">

        <div style="text-align: center" class="col col-md-12">
            <a class="navbar-btn nav-button-3 wow fadeInRight"
               data-wow-delay="0.5s"
               style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;"
               href='broucher.html'>View Brochure<br></a>


            <a class="navbar-btn nav-button-3 wow fadeInRight"
               data-wow-delay="0.5s"
               style="visibility: visible;  animation-delay: 0.5s; animation-name: fadeInRight;"
               href='video.html'>Watch Video<br></a>
        </div>

        <form class="form-horizontal" method="POST" action="https://www.wingding.pk/register">



            <input type="hidden" name="_token" value="JCRDJgZXhgjwgEJSwDORI11TkOzaApRIQcHRFoh3">

            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Personal Details</h3>
                        <hr>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">First Name *</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="First Name" class="form-control" name="first_name" value="" required autofocus>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Last Name *</label>
                            <div class="col-md-6">
                                <input placeholder="Last Name" required type="text" class="form-control" name="last_name" value="">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Street Address</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="Street Address" class="form-control" name="street_add1" value="">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Mobile Number*</label>
                            <div class="col-md-6">
                                <input type="text" id="cell" minlength="7" maxlength="11" placeholder="Mobile Number" required class="form-control" name="cell" value="">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">City *</label>
                            <div class="col-md-6">
                                <select name="city" class="selectpicker form-control" data-live-search="true" data-live-search-style="begins" title="- Select City -" required><option value="Karachi">Karachi</option><option value="Lahore">Lahore</option><option value="Islamabad">Islamabad</option><option value="Rawalpindi">Rawalpindi</option><option value="Multan">Multan</option><option value="Hyderabad">Hyderabad</option></select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Nic</label>

                            <div class="col-md-6">
                                <input id="nic" minlength="13" maxlength="13" type="text" class="form-control input-circle" name="nic">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h3>Business Details</h3>
                        <hr>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Business Name *</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="Business Name" id="business_name" class="form-control" name="business_name" value="" required autofocus>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Business Phone No. *</label>
                            <div class="col-md-6">
                                <input placeholder="Business Phone No." required id="business_no" maxlength="11" type="text" class="form-control" name="business_no" value="">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Business Street Address *</label>
                            <div class="col-md-6">

                                <select name="biz_street_add1" class="selectpicker form-control" data-live-search="true" data-live-search-style="begins" title="- Select Area -" required><option value="Azizabad">Azizabad</option><option value="Bahadurabad">Bahadurabad</option><option value="Baloch Colony">Baloch Colony</option><option value="Banaras">Banaras</option><option value="Bath Island">Bath Island</option><option value="Buffer Zone">Buffer Zone</option><option value="Burns Road">Burns Road</option><option value="City Railway Station">City Railway Station</option><option value="Clifton">Clifton</option><option value="DHA">DHA</option><option value="Dhoraji">Dhoraji</option><option value="Eissa Nagar">Eissa Nagar</option><option value="F.B. Area">F.B. Area</option><option value="Garden East">Garden East</option><option value="Garden West">Garden West</option><option value="Gizri">Gizri</option><option value="Gulistan-e-Jauhar">Gulistan-e-Jauhar</option><option value="Gulshan-e-Hadeed">Gulshan-e-Hadeed</option><option value="Gulshan-e-Iqbal">Gulshan-e-Iqbal</option><option value="Gulshan-e-Maymar">Gulshan-e-Maymar</option><option value="Jamshed Quarter">Jamshed Quarter</option><option value="Karimabad">Karimabad</option><option value="Kimari">Kimari</option><option value="Korangi">Korangi</option><option value="Landhi">Landhi</option><option value="Liaqtabad">Liaqtabad</option><option value="Malir">Malir</option><option value="Malir Cant">Malir Cant</option><option value="Model Colony">Model Colony</option><option value="Nazimabad">Nazimabad</option><option value="North karachi">North karachi</option><option value="North Nazimabad">North Nazimabad</option><option value="Old Area">Old Area</option><option value="Orangi Town">Orangi Town</option><option value="Pakistan Chowk">Pakistan Chowk</option><option value="Pakistan Quarter">Pakistan Quarter</option><option value="PECHS">PECHS</option><option value="Saddar">Saddar</option><option value="Sakhi Hasan">Sakhi Hasan</option><option value="Shaheed-e-Millat Road">Shaheed-e-Millat Road</option><option value="Shahrah-e-Faisal">Shahrah-e-Faisal</option><option value="Tariq Road">Tariq Road</option></select>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12">

                        <h3>Package Section </h3>
                        <hr>
                        <div class="form-group">
                            <label for="subscription_name" class="col-md-4 control-label">Subscribing for *</label>
                            <div class="col-md-6">
                                <select id="service_type_id" class="form-control" name="service_type_id" required autofocus>
                                    <option value="">____Select____</option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="1">
                                        Venues
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="2">
                                        Catering
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="3">
                                        Invitation Cards
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="4">
                                        Photography &amp; Video
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="5">
                                        Beauty Saloons
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="6">
                                        Florist
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="7">
                                        Event Management
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="8">
                                        Bridal Furniture
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="9">
                                        Accessories / Decor
                                    </option>
                                    <option data-monthly-price="5000"
                                            data-yearly-price="3500"
                                            value="10">
                                        Bakers
                                    </option>
                                </select>
                                <span class="help-block servicevalidation" style="color:red; display:none;">
                                    <strong style="font-weight: bold;">Select Subscription</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">

                            <link rel="stylesheet" href="../technext.github.io/garo-estate/assets/css/icheck.min_all.css">

                            <label for="subscription_type" class="col-md-4 control-label">Subscription Type *</label>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input type="radio" style="width:20px;" required id="monthly" class=" form-control subscription_type" name="subscription_type" value="monthly"><span id="spanmonthly"></span> <span class="label label-info" id="montly_price"></span>/Month (Paid Monthly)<br>
                                    <input type="radio" style="width:20px;" id="yearly" class="form-control subscription_type" name="subscription_type" value="yearly"><span id="spanyearly"></span> <span class="label label-info" id="yearly_price"></span>/Month <span style="font-weight: bold;" id="saveupto"></span><br>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <h3>Login Section</h3>
                        <hr>

                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Email *</label>
                            <div class="col-md-6">
                                <input id="email" type="text" placeholder="Email" class="form-control" name="email" value="" required>
                                <span class="help-block emailvalidation" style="color:red;display:none;">
                                    <strong style="font-weight: bold;">Provide Valid Email Address</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password *</label>
                            <div class="col-md-6">
                                <input type="password" id="password" placeholder="Password" class="form-control" name="password" required>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" placeholder="Confirm Password" class="form-control" name="password_confirmation" required>
                                <span class="help-block passwordvalidation" style="color:red; display:none;">
                                    <strong style="font-weight: bold;">Password Does not Match</strong>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-bottom:20px; text-align:center">
                            <button type="submit" id="register" class="btn btn-primary"> Register  </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="frontend/assets/img/Side-banner-register.jpg" alt="Industries" style="min-width: 100%;">
            </div>

        </form>
    </div>

</div>

