@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="title">
    <div class="about-head">
        <div class="container">
            <div class="row">
                <div class="listing-head">
                    <h1 class="page-title">About Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-tab">
    <div class="container">



        <div id="why">
            <div class="row">
                <div class="col-md-12 aboutus-page-title"><h2><span>Meet our team</span></h2></div>
                <div class="col-md-6 about-img pull-right sidebar-menu wow fadeInRight aboutus-page-titled">
                    <img src="~/Content/mohsin.jpg" alt="Who we are" height="100" width="400">
                </div>
                <div class="2">
                    <img src="~/Content/taimoor.jpg" alt="Who we are" height="400" width="400">
                </div>

                <div class="col-md-6 sidebar-menu wow fadeInLeft  animated aboutus-page-title">
                    <img src="~/Content/mudassar.jpg" alt="Who we are" height="400" width="400">
                </div>
                <div class="col-md-6 about-img pull-right sidebar-menu wow fadeInRight aboutus-page-titled">
                    <img src="~/Content/mohsin.jpg" alt="Who we are" height="400" width="400">
                </div>

            </div>


        </div>








        <div id="who">
            <div class="row">
                <div class="col-md-12 aboutus-page-title"><h2><span>Who We Are</span></h2></div>
                <div class="col-md-6 about-img pull-right sidebar-menu wow fadeInRight aboutus-page-title">
                    <img src="~/Content/frontend/assets/img/who-we-are-img.png" alt="Who we are">

                </div>
                <div class="col-md-6 sidebar-menu wow fadeInLeft  animated aboutus-page-title">
                    <h3>A VENDOR MARKETPLACE WHERE YOU CHOOSE THE BEST FIT</h3>
                    <p>
                        Our moto is you celebrate we calibrate, and we live up to it every day and every time.
                        We have handpicked some of the best vendors for every service category that is required to make your event an exceptional one. Not only this, all vendors keep their profiles up to date with the latest calendar, prices, dates and policies.
                        So that at any time, when you locate a venue or a service you do not have to listen to excuses later on.
                    </p>
                    <p>
                        Our website brings the fun back in wedding planning, through its comprehensive and interactive web portal. We allow users to find and book pre-qualified, trusted, and reviewed wedding vendors in Lahore, all through the click of a mouse. Moreover,we have negotiated exclusive discounts and rates with wedding halls, marquees, photographers, caterers and many other vendors. We’ve done the hard work so you don’t have to
                    </p>
                    <p>
                        With us, you are the priority, and you get to
                        choose the best people to work with that too matching your needs and budget at the same time.
                    </p>
                </div>

            </div>
        </div>
        <div id="why">
            <div class="row">
                <div class="col-md-12 aboutus-page-title"><h2><span>Why Choose Us</span></h2></div>
                <div class="col-md-6 about-img pull-right sidebar-menu wow fadeInRight aboutus-page-title">
                    <img src="~/Content/frontend/assets/img/who-we-are.jpg" alt="Who we are">
                </div>
                <div class="col-md-6 sidebar-menu wow fadeInLeft  animated aboutus-page-title">
                    <h3>THE BEST PEOPLE & BEST PRICE ALL IN ONE PLACE</h3>
                    <p>
                        The foremost thing about our website (and the best one too) is that its online, so that you can start planning your celebrations at any given time without waiting to go out or waiting at traffic jams. All you need is a working internet connection and a device that helps you go online.
                        And voila! you’re connected to the largest online database of event vendors in Pakistan.
                    </p>
                    <p>
                        When we say we select the best vendors, does not always imply that all our vendors are expensive – oh no, that wouldn’t be practical would it? So, we choose the best in service, curated by the features that they provide
                        so that everyone with any type of budget can get the best possible service within their reach.
                    </p>
                </div>

            </div>


        </div>
        <div id="work">
            <div class="row">
                <div class="col-md-12 aboutus-page-title"><h2><span>Why We Are Different</span></h2></div>
                <div class="col-md-6 about-img pull-right sidebar-menu wow fadeInRight  animated aboutus-page-title">
                    <img src="~/Content/frontend/assets/img/WE-ARE.png" alt="Satisfaction">
                </div>
                <div class="col-md-6 sidebar-menu wow fadeInLeft  animated aboutus-page-title" style="visibility: visible; animation-name: fadeInLeft;">
                    <h3>GIVING YOU EASE OF ACCESS WITH SATISFACTION </h3>
                    <p>
                        Our website is an online database of all things events! Having said that, you may say that many other websites
                        provide a similar experience in terms of venues so, how are we any different?
                    </p>
                    <p>
                        Well, to begin with, we don’t just offer venues, we do a lot more than that, we take into account all the requisites that you would want when you think of an event. That is, at  we not only have the best venues on board, we also have event photographers, caterers, invitations, salons, décor, event management and furniture vendors. Moreover, WingDing provides a custom CMS panel to all its vendors so that they can manage and update the
                        booking status in real time. So that any open slots you see on any vendors are vacant and open for booking.
                    </p>
                </div>

            </div>


        </div>
    </div>
</section>
