
@{
    ViewBag.Title = "Services";
}

<section class="title">
    <div class="service-head">
        <div class="container">
            <div class="row">
                <div class="listing-head">
                    <h1 class="page-title">Services</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="servicess">
    <div class="container">

        <div class="col-md-12 service-page-title"><h2><span>Venue</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6  sidebar-menu wow fadeInLeft">
                <img src="~/Content/frontend/assets/img/service/1-1-Venue.jpg" alt="Venue">

            </div>
            <div class="col-md-6">

                <h3>We have an event destination for every celebration</h3>
                <p>
                    Planning an event can be a tiresome task when you need to look for a venue that can host your event and compliments your occasion. How do we go about doing that? You got that right, visit each venue area and then make up your mind. But can you visit all the various venues in a timely manner and then remember each one of them when deciding? Therefore, wingding has all
                    venues clustered online for you so that you can compare, contrast and choose the best one that suits you well.
                </p>
                <p>Choose from the ambiance, setting, capacity – everything that you want in an event venue.</p>

                <ul>
                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInLeft listing" onclick="window.location.href='services/venues'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 service-page-title"><h2><span>Catering Service</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6 pull-right sidebar-menu wow fadeInRight">
                <img src="~/Content/frontend/assets/img/service/1-catering.jpg" alt="Catering">
            </div>
            <div class="col-md-6 pull-left">

                <h3>Get the best option for you event and be catered to in time and on a budget</h3>
                <p>
                    Let’s face it, most people who come to your events aren’t always as happy about the event as you. And most people who do show up at an event, do so to make merry of their time and have a great time devouring great food. People will remember your event by the type of food your serve, however, locating a great caterer who can fulfill an order while keeping high quality and a budget friendly menu is a tough call. This is where you can get help with wingding, browse through hundreds of caterers
                    who know their game on point from the finest to the most delicious food servings that too according your pocket.
                </p>
                <p>Register your event in the minds of the guests for a lifetime, let them be catered by an expert.</p>
                <ul>
                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/catering.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>

            </div>

        </div>
        <div class="col-md-12 service-page-title"><h2><span>Invitation Cards</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6  sidebar-menu wow fadeInLeft">
                <img src="~/Content/frontend/assets/img/service/1-invitation.jpg" alt="Invitation">
            </div>
            <div class="col-md-6">

                <h3>Choose from thousands of printers for invitation cards that are a sight to behold and worth every bit.</h3>
                <p>
                    The invitation of your event is what gets the guests’ attention from the time they get the card in their hands. Most of the times guests forget about the event altogether, but your invitation card makes or breaks the deal that coaxes them to come to the event leaving behind the comfort of their homes. At wingding, we pay close attention to our vendor selection process so that every invitation card printer that you see at wingding has not
                    only gone under a vigorous selection process but also has delivered high quality and unique invitation cards.
                </p>
                <p>Give your guests a reason to look forward to your awesome event with an enticing invitation card.</p>
                <ul>
                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInLeft listing" onclick="window.location.href='services/invitation-cards.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 service-page-title"><h2><span>Photography & Video</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6 pull-right sidebar-menu wow fadeInRight">
                <img src="~/Content/frontend/assets/img/service/1-photography.jpg" alt="Photography">
            </div>
            <div class="col-md-6 pull-left">
                <h3>Create precious memoirs of your memorable moments that can be cherished over a lifetime.</h3>
                <p>
                    Down the times after you have lived a fair share of life, the hustle bustle of the event will vanish into normal routine lives. However, what will live on will be a memory of the event in your mind, however as
                    time passes memories too lose out focus and most people forget major details of the events, hence you relive the memories with photographs and videos of the event, played again to relive the sweet memoirs of the great day or remembering loved ones who aren’t there to make their presence felt. Get your precious moments captured by photographers and videographers, for authenticating their claims
                    go through their extensive portfolio and make an informed decision.
                </p>
                <p>Get yourself the gift of a lifetime by engraving your memories in time through photographs and videos.</p>
                <ul>
                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/photography-video.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>

            </div>

        </div>
        <div class="col-md-12 service-page-title"><h2><span>Beauty Salons</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6 sidebar-menu wow fadeInLeft">

                <img src="~/Content/frontend/assets/img/service/1-Salon.jpg" alt="Salon">
            </div>
            <div class="col-md-6">
                <h3>Look great and flaunt your style with beauty services that add a glam touch within your budget</h3>
                <p>
                    Everyone wants to look great at their special day, be it your wedding, engagement, graduation party or your child’s first birthday party. But locating a beauty salon that not only does the job, on a budget that suits your pocket and the most important thing – they provide the service on the very day of your event. But you’re on this website for a reason, problem solved. WingDing offers a selection of the best beauty salons that will not only make
                    you look great for any occasion but also work with you to give you what you want on payment terms that suit you.
                </p>
                <p>
                    Get the look that you desire and be everyone’s center of attention on a day that’s all yours!

                </p>
                <ul>

                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/beauty-saloons.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 service-page-title"><h2><span>Accessories / Décor</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6 pull-right sidebar-menu wow fadeInRight">
                <img src="~/Content/frontend/assets/img/service/decor-img.jpg" alt="Decoration">
            </div>
            <div class="col-md-6 pull-left">

                <h3>At wingding we believe in going the extra mile to please our members.</h3>
                <p> This is why when we onboard an accessories and décor specialist we take care in analysing their business and how they deal with their customers. All our vendors are equipped to fulfil your event requirements to the best of their capacities at any given time. The services are adequately priced and allow for you to choose from a wide range of serviced packages that fit your need and requirements while providing you value for money. There is no middle man when you booked through wingding portal. You are truly in-charge of your events.</p>

                <ul>

                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/accessories-decor.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>

            </div>

        </div>
        <div class="col-md-12 service-page-title"><h2><span>Event Management</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6 sidebar-menu wow fadeInLeft">
                <img src="~/Content/frontend/assets/img/service/1-event-management.jpg" alt="Event Management">
            </div>
            <div class="col-md-6">

                <h3>
                    With over 50 years of experiences. Funimal is best services in
                    interior design & installation
                </h3>
                <p>
                    At times there is just too much happening at the same time, and then you realize that between all that work you forgot to prepare for an important event. That could be from your first wedding anniversary, to your child’s birthday or a major life achievement that should be celebrated nonetheless. No matter you do, a fail in such a case will forever be engraved into the minds of people around you and result in bitter memories. Event managers, on wingding take care of everything for you, they are the ones you can trust with your event from scratch till the final deliverance.
                    All you need to do ism locate the best fit, disclose your budget and requirements and the dates. And voila! You’re done.
                </p>
                <p>Select an event manager that manages your event from start to end without anything for you to tend.</p>
                <ul>

                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/event-management.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 service-page-title"><h2><span>Bridal Furniture</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6 pull-right sidebar-menu wow fadeInRight animated animated">
                <img src="~/Content/frontend/assets/img/service/1-furniture.jpg" alt="Furniture">
            </div>
            <div class="col-md-6 pull-left">
                <h3>Give your daughters bridal furniture that adds value to their lives while lasting a lifetime</h3>
                <p>
                    Furniture is something you don’t buy every day, therefore one thing that almost everyone desires out of furniture is that it should be long lasting. And as per the rules of he ongoing trends, every bride wants their furniture to be trendy and attractive so that their rooms in their new homes can look great to start with. Bridal furniture is something that isn’t specific to the bride only, as it is a major part of your investment that will go as a gift for your child. Hence you want it to be perfect while being as per the requirements of the highest standards. WingDing has a wide variety of Bridal Furniture manufacturers and providers who not only make on order but also have ready to purchase furniture items for you to select.
                    Browse through gallery options and select a manufacturer that fits your needs.
                </p>
                <p>Be part of your daughter’s everyday life with comfortable and unique bridal furniture.</p>
                <ul>
                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/bridal-furniture.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>

            </div>

        </div>
        <div class="col-md-12 service-page-title"><h2><span>Baker</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6  sidebar-menu wow fadeInLeft">
                <img src="~/Content/frontend/assets/img/service/baker-img.jpg" alt="Bakers">
            </div>
            <div class="col-md-6">

                <h3>Get the most delightfully mouthwatering confectionaries baked up for your event that too chosen among the best bakers in town.</h3>
                <p>
                    We picked hand curated baker's profiles from around the town to put together for you. We make sure that any baker that gets registered on wingding brings with them years of genuine experience and a proven record of delivering the finest quality of baking expertise that simply wow their customer in any type of dish that they undertake. With wingding, you get the chance to book any baker at your convenience coinciding the date of your event. With wingding, you're the master of your plans, every time.
                </p>
                <ul>
                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/bakers.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 service-page-title"><h2><span>Florist</span></h2></div>
        <div class="row service-page-title">
            <div class="col-md-6 pull-right sidebar-menu wow fadeInRight">
                <img src="~/Content/frontend/assets/img/service/1-decor.jpg" alt="Decoration">
            </div>
            <div class="col-md-6 pull-left">

                <h3>Give your event a tough of nature’s beauty with flowers and décor that add elegance and class</h3>
                <p>
                    The one thing about getting the right décor is that it shouldn’t be overwhelming and shouldn’t be so subtle that loses out on the most important aspect, which is to be decorative. Having said that, most people get so confused with the amount of tasks they get at an event planning phase that they completely overlook decorations up until the last moment and then settle for mediocre services at exorbitant rates. WingDing doesn’t let that happen to you, our handpicked vendors are not only well
                    accustomed to cater to your needs, but also have the best prices that fit into your ideals.
                </p>
                <p>Select from a range of flowers/décor services by viewing past works and deciding the best fit.</p>
                <ul>

                    <li>
                        <button class="navbar-btn nav-button-3 wow bounceInRight listing" onclick="window.location.href='services/florist.html'" data-wow-delay="0.4s">Go To Listing</button>
                    </li>
                </ul>

            </div>

        </div>
    </div>

</section>

